.card {
  display: flex;
  flex-direction: column;
  background-color: #5278f3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  max-width: 50%;
  max-height: auto;
  margin: 3rem;

}

.card-image {
  width: 85%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
  font-size: 30;
}

.card-description {
  font-size: 0.875rem;
  color: #555;
  line-height: 1.4;
}

.aboutCard {
  background-color: #f9f9f9;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
}

.aboutCard p {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}
