/* pages.css */

/* Section Styles */
.section {
  padding: 4rem 2rem;
  background-color: #f4f4f4;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Card Styles */
.card {
  display: justify;
  flex-direction: column;
  background-color: #4a98f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  width: 35%;
  margin:0px ;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-image-container {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 24px;
  color: white;
}

.card-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.card-content li {
  font-size: 0.95rem;
  line-height: 1.5;
}

.about-card {
  margin-top: 20px;
}

.about-card-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}

.about-card-text {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}
.ourservices-paragraph {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  background-color: #48be62;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 60%; /* 10% from the top */
  right: 30px; /* 20 pixels from the right */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 600px; /* Set a width to limit the size */
  text-align: left; /* Align the text to the left */
}

.ourservices-paragraph:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
