/* pages.css */

/* General Styles */
.section {
  padding: 4rem 2rem;
  background-color: #0ddacf;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Card Styles */
.card {
  display: flex;
  flex-direction: column;
  background-color: #4a98f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  /* width: 35%; */
  margin: 0;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-image-container {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 24px;
  color: white;
}

.card-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.card-content li {
  font-size: 0.95rem;
  line-height: 1.5;
}

/* About Card Styles */
.about-card {
  margin-top: 20px;
}

.about-card-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}

.about-card-text {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}

/* Our Services Styles */
.ourservices-paragraph {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  background-color: #48be62;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 60%;
  right: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: left;
}

.ourservices-paragraph:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.text-center{
  text-align: center;
}

.fw-bold{
  font-weight: bold;
}

.image-card{
  border-radius: 3%;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.row{
  display: flex;
  gap: 1rem;
  padding: 10px;
  margin: 0;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}

.col{
  display: inline;

}


.icon{
  font-size: larger;
  margin-inline: 20px;
}