/* Footer.css */
.footer {
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(129, 73, 16);
  background: linear-gradient(0deg, rgba(129, 73, 16, 1) 71%, rgb(224, 159, 7) 73%, rgb(25, 131, 158) 73%);
}

.footer-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-title-section {
  margin-bottom: 30px;
}

.footer-title {
  font-size: 25px;
  font-weight: bold;
}

.footer-links-section {
  margin-bottom: 30px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ccc;
}

.footer-social-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-social-section .socials {
  margin: 0 10px;
}

.footer-social-section .socials:hover {
  opacity: 0.8;
}

.footer-copyright-section {
  font-size: 14px;
  color: #aaa;
}
