/* navBar.css */

/* Header styles */
.header {
  background-color: #69b83b;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content:space-between;
  align-items:normal;
}

#logo {
  height: 80px;
  border-radius: 4px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;

}

.moto {
  font-size: 16px;
  margin: 0;
  align-content: center;
}

/* Navigation styles */
.nav {
  background-color: #f2f2f2;
  padding: 10px 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #030e1a;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #e6e6e6;
}

.nav-link.active {
  background-color: #042366;
  color: #fff;
}

.home-link {
  border-left: 1px solid #ccc;
}

.contact-link {
  border-right: 1px solid #ccc;
}
