/* navBar.css */

/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header styles */
.header {
  background-color: #f8f8f8;
  color: #f8f8f8;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  

}
.header-title{
  color: skyblue;
  margin-left: 10px;
}
.moto{
  color:rgb(165, 108, 42);
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#logo {
  height: 100px;
  border-radius: 4px;
  display: flex ;
}

.header-text {
  text-align: left;
  margin-left: 0px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.moto {
  font-size: 16px;
  margin: 0;
}

/* Navigation styles */
.nav {
  background-color: #12a30d;
  padding: 10px 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.nav-link {
  color: #030e1a;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #e6e6e6;
}

.nav-link.active {
  background-color: #042366;
  color: #fff;
}

.home-link {
  border-left: 1px solid #ccc;
}

.contact-link {
  border-right: 1px solid #ccc;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header-text {
    text-align: left;
    margin-top: 10px;
    
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-link {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  .nav-link:first-child {
    border-top: none;
  }
}

