/* App.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.header {
  background-color: #39f720;
  color: #f5f7f5;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
}


.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ccc;
}

.active {
  font-weight: bold;
}

/* Main Content Styles */
.main {
  flex-grow: 1;
  padding: 2rem;
}
